<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="h2db" class="com.software.bank.dao.h2.CreditDataBaseDao" />
	
	<!-- Console Scan -->
	<bean id="consoleInput" class="com.software.bank.view.input.ReadConsole" />
	
	<!-- Russian -->
	<bean id="RU" class="com.software.bank.view.VisualRus" >
		<property name="input" ref="consoleInput" />
	</bean>
	
	<!-- Ukrainan -->
	<bean id="UA" class="com.software.bank.view.VisualUkr" >
		<property name="input" ref="consoleInput" />
	</bean>
	
	<!-- English -->
	<bean id="EN" class="com.software.bank.view.VisualEng" >
		<property name="input" ref="consoleInput" />
	</bean>
	
	<bean id="annuity" class="com.software.bank.service.Annuity" >
		<property name="view" ref="RU" />
		<property name="dataBase" ref="h2db" />
	</bean>

	<bean id="decliningBalance" class="com.software.bank.service.DecliningBalance" >
		<property name="view" ref="EN" />
		<property name="dataBase" ref="h2db" />
	</bean>
	
	<bean id="creditAnnuity" class="com.software.bank.controller.CreditController">
		<property name="creditLogic" ref="annuity" />
	</bean>
	
	<bean id="creditDecliningBalance" class="com.software.bank.controller.CreditController">
		<property name="creditLogic" ref="decliningBalance" />
	</bean>
</beans>