<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="h2db" class="com.software.bank.dao.h2.CreditDataBaseDao" />
	
	<!-- Console Scan -->
	<bean id="consoleInput" class="com.software.bank.view.input.ReadConsole" />
	
	<!-- Russian -->
	
	<bean id="resource_RU" class="java.util.ResourceBundle" factory-method="getBundle">
  		<constructor-arg value="messages_RU"/>
	</bean>
	
	<bean id="RU" class="com.software.bank.view.VisualRus" >
		<property name="input" ref="consoleInput" />
		<property name="resourceBundle" ref="resource_RU" />
	</bean>
	
	<!-- Ukrainan -->
	
	<bean id="resource_UA" class="java.util.ResourceBundle" factory-method="getBundle">
  		<constructor-arg value="messages_UA"/>
	</bean>
	
	<bean id="UA" class="com.software.bank.view.VisualUkr" >
		<property name="input" ref="consoleInput" />
		<property name="resourceBundle" ref="resource_UA" />
	</bean>
	
	<!-- English -->
	
	<bean id="resource_EN" class="java.util.ResourceBundle" factory-method="getBundle">
  		<constructor-arg value="messages_EN"/>
  	</bean>
	
	<bean id="EN" class="com.software.bank.view.VisualEng" >
		<property name="input" ref="consoleInput" />
		<property name="resourceBundle" ref="resource_EN" />
	</bean>

	<bean id="viewManager" class="com.software.bank.view.ViewManager">
		<property name="en" ref="EN" />
		<property name="ua" ref="UA" />
		<property name="ru" ref="RU" />
		<property name="def" ref="EN" />
	</bean>
	
	<!-- LANGAUGE END -->
	
	<!-- LOGIC -->
		
	<bean id="annuity" class="com.software.bank.service.Annuity" />
	
	<bean id="declining" class="com.software.bank.service.DecliningBalance" />
	
	<bean id="logicManager" class="com.software.bank.service.CreditLogicManager">
		<property name="annuity" ref="annuity" />
		<property name="declining" ref="declining" />
		<property name="def" ref="annuity" />
	</bean>
	
</beans>